tfe_token                     = "..."
github_token_id               = "..."

# create aws users for network provisioining and servers provisioining. (user per workspace) 
network_aws_access_key        = "..."
network_aws_secret_access_key = "..."
servers_aws_access_key        = "..."
servers_aws_secret_access_key = "..."